@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: white; /* Set default text color to black */
	background-color: #070b07; /* Set background color to white */
	overflow-x: hidden;
	font-family: "Inter";
}

@keyframes glow-animation {
	0% {
		box-shadow: 0 0 300px 25px #21371F;
	}
	100% {
		box-shadow: 0 0 300px 70px #21371F;
	}
}